body {
  font-family: 'Open Sans', sans-serif;
}

.signin {
  overflow: hidden !important;
}

#titleText {
  font-family: 'Lily Script One', cursive;
  color: #ECEFF1;
}

.bgImageSignin {
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.signupInputLabel {
  color: #ECEFF1;
  font-family: 'Open Sans', sans-serif;
}

#googleSearchHeader {
  font-family: "Roboto-Regular", "HelveticaNeue", "Arial", "sans-serif" !important;
}

#googleSearchLink {
  font-family: "Roboto-Regular", "HelveticaNeue", "Arial", "sans-serif" !important;
}

#googleSearchDescription {
  font-family: "Roboto-Regular", "HelveticaNeue", "Arial", "sans-serif" !important;
}

.WomenCategoryWebViewTitle {
  color: #33333d;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}

.WomenCategoryWebViewPrice {
  color: #999999;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}

brand {
  font-family: 'Philosopher', sans-serif;
}

.heroText {
  font-family: 'Quicksand', sans-serif;
}

.brandCategories {
  font-family: 'Julius Sans One', sans-serif;
}

.subCategories {
  font-family: 'Molengo', sans-serif;
}
.float{
    padding: 5px;;
    width: 130px;
    z-index: 100;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
.fbAuth_Background{
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.fbFont{
  font-family: 'Roboto', sans-serif;

}
